.hungerBar {
  background-color: #007f00;
  width: 100px;
  height: 28px;
}

.btn {
  position: relative;
    text-align: center;
    width: 100px;
    height: 25px;
    border: 2px solid #232525;
    padding: 0;
    display: inline-block;
    margin: 30px 10px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
  }
  
  .food {
    font-size: 24px;
    background-color: rgb(141, 117, 117);
    border: 1px solid rgb(37, 25, 25);
    width: 100px;
    padding: 5px;
  }

  .collectFood {
    /* background-color: rgb(103, 158, 117); */
    border: 2px solid #97aeb0;
  }

  .collectFoodBar {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgb(195, 231, 128);
    padding: 0;
    top: 0;
    left: 0;
  }

  .buttonText {
    text-align: center;
    width: inherit;
    height: inherit;
    position: absolute;
    padding: 2px;
    top: 0;
    left: 0;
  }

  .lastCollected {
    width: inherit;
    position: absolute;
    top: 30px;
  }

  .collectSticks {
    background-color: rgb(51, 37, 11);
    color: white;
  }